.mainDiv {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.content-area {
  display: flex;
  width: 100%;
  height: calc(100vh - 60px); /* Adjust to header height */
}

.sideNav {
  transition: width 0.3s ease;
  background-color: #f1f1f1;
  height: 100%;
  overflow-y: auto;
}

.sideNav.open {
  width: 240px;
}

.sideNav.closed {
  width: 0;
}

.videocontent {
  flex-grow: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
  margin-left: 240px;
}

.video-section {
  display: grid;
  gap: 15px;
}

.video-section .col-md-3 {
  display: flex;
}

@media (max-width: 992px) {
  .videocontent {
    margin-left: 0;
  }

  .sideNav {
    position: fixed;
    z-index: 9;
    width: 240px;
    height: 100%;
    left: -240px;
  }

  .sideNav.open {
    left: 0;
  }

  .sideNav.closed {
    left: -240px;
  }

  .videocontent {
    padding: 10px;
  }
}
